<div class="container">\
     <h1>Tell Us About Your Banking . . . </h1>\
            <div style="padding: 100px 100px 10px;">\
              <form class="user-input-form" role="form">\
                <div class="input-group">\
                   <span class="input-group-addon">I use </span>\
                   <input type="text" class="form-control" placeholder="" id="input-bank" value="<%= template_bank%>">\
                   <span class="input-group-addon"> for banking</span> \
                </div>\
                <div class="input-group">\
                   <span class="input-group-addon">My credit score is </span>\
                   <input type="text" class="form-control" placeholder="" id="input-credit-score" value="<%= template_credit_score%>">\
                </div>\
                <button class="btn btn-default" id="banking_save_button">Save Banking Information</button>\
              </form>\
            </div>\
        </div>\